<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write blogs</title>
</head>
<body>
    <h1>Write  blogs</h1>

    <form method="post" action='/blogs/sumbit'>

    <textarea type='blog' id='blog' name='blog'>

    </textarea>

<br/>
    <label>Your name</label>

    <input id='Author' name='Author'/>

    <button type='submit' action="/blogs/sumbit" class="uppercase inline-block float-right mt-2 p-3 md:block md:h-[4rem] md:m-0 md:p-4 bg-[#fff] text-variant-3 rounded-lg outline-none font-semibold hover:opacity-90">DONE!</button>


    </form>
</body>
</html>
