<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write blogs</title>
</head>
<body>
    <h1>Write  blogs</h1>

    <form method="post" action='/blogs/sumbit'>

    <textarea type='blog' id='blog' name='blog'>

    </textarea>

    </form>
</body> 
</html>