<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your  blogs</h1>

    <ul>
  <% allBlogs.forEach(function(doc) { %>
    <li>Username: <%= doc %></li>
  <% }); %>
  </ul>

    </body>
</html>
