<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Registrations page || Devgram</title>
</head>
<body>
    <h1>Login</h1>
    <from action="/register" method="post">
        <div>
            
            <label for='email' >email</label>
            <input type="email" required/>
            <br />

            <label for='password' >Password:</label>
            <input type="password" required/>
            <br />
            <button type="submit">Submit</button>

            <a href="/register">Register now!</a>

        <div>
    </from>
</body>
</html>